*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    width: 100%;
    height: auto;
    justify-content:center;
    align-items: center;
    padding-top: 10%;
     
    color: rgb(85, 83, 83);
    background: linear-gradient(to right, #fffa9a, #f7e3a8);
}

.home  button{
    padding: 10px 20px ;
    margin-top: 30px;
    background-color: #fffa9a;
    border: none;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

}
.home button:hover{
    transform: scale(1.1);
}
.home h1 {
    font-size: 80px;
}

.home p{
    font-size: 20px;
}

 

 .container1{
    padding-bottom: 50px;
    margin: 10px 20px;
    margin-bottom: 11%;
 }

 
.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 columns */
  gap: 10px;
  padding:50px 100px ;
 overflow: hidden;
   
}
.container2 .card{
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: auto;
    box-shadow: 5px 5px 10px black;
    
    
}
.container2 .card img{
    object-fit: cover;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;

}
.container2 .card .conetent h1{
    font-size: 25px;
}
 .container2 .card .conetent {
    gap: 10px;
 }
 
  .container2 .card .conetent p {
    font-size: 12px;
 }
  .container2 .card .conetent .btn1 {
     padding: 10px 20px;
     margin-bottom: 50px;
     position: relative;
     color: rgb(255, 132, 0);
     margin-bottom: 20px;
     margin-top: 5px;
     
 }

 .home .container3  {
    background-image: url(../image/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 80px;
    color: white;
    background-color: white;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 5%;
    filter: blur(1px);
    z-index: 1;
    
     
 }  

 .home .container3 h1 {
   z-index: -1;
 }